.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 75%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  /* background: #1d1d1d; */
  background: var(--bg-page);
  padding: 20px;
  min-width: 1000px;
  min-height: 800px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal-content h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-content h2 img {
  margin-right: 15px;
}